html > body {
    padding: 5px;
    background-image: url('images/blurry_blue_background_ii-wallpaper-2560x1440.jpg');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html > body .view-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 95vw;
    height: 90vh;
    overflow: auto;
    color: #ffffff !important;
    background-color: transparent !important;
}

body {
    color: #ffffff !important;
    background-color: transparent !important;
}

.container-fluid > div.row.header-row{
    height: 46px !important;
}

.page-header {
    margin-top: 0 !important;
    height: 40px;
}

    .page-header > a {
        line-height: 15px !important;
    }

    .page-header img {
        width: 31px;
        margin-left: 15px;
        margin-right: 15px;
    }

a {
    text-decoration: none !important;
    color: #ffffff !important;
}

    a:hover {
    }

div .game-content {
    width: 100%;
    height: 63.4vh;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div .game-content #gameCanvas {
    height: 100%;
    width: 100%;
    background-color: rgba(225, 225, 225, .2);
}

div .game-info {
    margin-top: 5px;
    margin-left: 0 !important;
    width: 100%;
    height: 77px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: green;
}

div.game-info > div > svg {
    margin-top: 7px;
}

div.game-info > div > h6 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

div.game-info > div > label {
    margin-bottom: 0 !important;
}
