<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <a class="btn btn-lg btn-primary" href="#/">
                    Volver
                </a>
                <img ng-src="css/images/icons/colores.png"/>
                Colores
            </header>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="game-content">
                <svg id="gameCanvas">

                </svg>
            </div>
        </div>
    </div>
    
    <div class="row game-info">
        <div class="col-xs-6 ">
            <div>
                <h5>Buscar:</h5>
            </div>
            <div>
                <svg id="elementoBuscado" style="width: 56px; height: 56px; border: 1px solid #000000">
                    
                </svg>
            </div>
        </div>
        <div class="col-xs-6">
            <div>
                <h6>Tiempo</h6>
                <label>{{timer}}</label>
                <h6>Puntos</h6>
                <label>{{puntos}}</label>
            </div>
        </div>
    </div>
</div>