<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <a class="btn btn-lg btn-primary" href="#/">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <img ng-src="css/images/icons/letras.png" />
                Letras
            </header>

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="game-content">

            </div>
        </div>
    </div>

    <div class="row game-info">
        <div class="col-xs-6 ">
            <div>
                <h5>Buscar:</h5>
            </div>
            <div>ELEMENTO BUSCADO</div>
        </div>
        <div class="col-xs-6">
            <div>
                <h6>Tiempo</h6>
                <label>00:00.000s</label>
                <h6>Puntos</h6>
                <label>99999999</label>
            </div>
        </div>
    </div>
</div>