<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                Maestro virtual
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#/colores">
                <div class="menu-option">
                    <img ng-src="css/images/icons/colores.png" />
                    <h2>Colores</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#/formas">
                <div class="menu-option">
                    <img ng-src="css/images/icons/formas.png" />
                    <h2>Formas</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#/numeros">
                <div class="menu-option">
                    <img ng-src="css/images/icons/numeros.png" />
                    <h2>Números</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#/letras">
                <div class="menu-option">
                    <img ng-src="css/images/icons/letras.png" />
                    <h2>Letras</h2>
                </div>
            </a>
        </div>
    </div>
</div>